body {
    font-family: sans-serif;
    background-color : #33D8CE;
}
:root {
    --color-hover: #4646462c;
    font-family: sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
  }

  li {
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  li:active {
    background-color: var(--color-hover);
  }

  li .campo.principal {
    font-size: large;
    font-weight: bold
  }